#grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto-fit, 1fr));
    grid-auto-rows: 280px;
    grid-gap: 20px;
}

#red {
    background-color: red;
    grid-column: 1 / 5;
    border-radius: 10px;
}

#violet {
    background-color: violet;
    grid-column: 5 / 10;
    border-radius: 10px;
}

#green {
    background-color: green;
    grid-column: 1 / 3;
    border-radius: 10px;
}

#magenta {
    background-color: magenta;
    grid-column: 3 / 10;
    border-radius: 10px;
}

#yellow {
    background-color: yellow;
    grid-column: 1 / 10;
    border-radius: 10px;
}

#new-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 208px;
    grid-gap: 20px;
}

#new-red {
    border: 2px solid red;
    background-color: red;
    grid-column: 1 / -1;
    border-radius: 10px;
}

#new-violet {
    background-color: violet;
    grid-column: 1 / 6;
    grid-row: 2 / 5;
    border-radius: 10px;
}

#new-green {
    background-color: green;
    grid-column: 6 / 10;
    border-radius: 10px;
}

#new-magenta-one {
    background-color: magenta;
    grid-column: 6 / 8;
    grid-row: 3 / 5;
    border-radius: 10px;
}

#new-magenta-two {
    background-color: magenta;
    grid-column: 8 / 10;
    grid-row: 3 / 5;
    border-radius: 10px;
}
